{% extends 'layout.html' %}

{% block body %}
        <div class="container-fluid">
    <br>
        <form action="/reviewed" method="POST">
            <div class="col-sm-2" style="margin-left: 25px">
        <div class="form-group">
            <label>Date Reviewed:</label>  <input type="date" id="todaydate" name="fromDate" class="form-control" value="2019-04-22" required>
             </div>
            </div>
            <div class="col-sm-3">
            <input style="margin-top: 25px" class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <div>
            <table id="table3" class="table table-hover" style="border-collapse:collapse;
    table-layout:fixed; ">
            <tr>
                <th style="width: 10%">Reviewer Name</th>
                <th style="width: 10%">Review Date</th>
                <th style="width: 10%">Case Number</th>
              <th  style="width: 10%">Created By</th>
                <th  style="width: 10%">Modified Date</th>
                <th style="width: 10%">Account Name</th>
                <th style="width: 30%">Messages</th>
                <th  style="width: 5%">Score</th>
                <th  style="width: 10%">Remarks</th>
                <th  style="width: 5%">State</th>
            </tr>
                    {%  for mess in data %}
                <tr>
                <td >{{ mess.REVIEWERNAME }} </td>
                    <td >{{ mess.REVIEWDATE }} </td>
                    <td >{{ mess.CASENUMBER }} </td>
                    <td>
                        {{ mess.CREATEDBYFULLNAME }}
                    </td>
                    <td>
                        {{ mess.LASTMODIFIEDDATE }}
                    </td>
                    <td>
                        {{ mess.ACCOUNTNAME }}
                    </td>
                    <td >
                        {{ mess.BODY }}
                    </td>
                    <td>
                        {{ mess.SCORE }}
                    </td>
                <td>
                        {{ mess.REMARKS }}
                    </td>
                <td>
                        {{ mess.STATE }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        </div>

{% endblock %}